html {
scroll-behavior: smooth;
}

html {
  scroll-padding-top: 80px;
}

#cookie-banner {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
background-color: rgba(0, 0, 0, 0.9);
color: white;
padding: 15px;
z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

@media (max-width: 639px) {
.scroll-mt-mobile {
    scroll-margin-top: 80px; /* Equivalente a Tailwind scroll-mt-24 */
}
}

